{% extends 'store/_Master.html' %}
{% load static %}
{% load humanize %} <!-- Định dạng lại chữ số thập phân-->
{% block title_tab %}Estore |  {{ title_subcategory }} {% endblock title_tab %}
{% block main_content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url  'store:index' %}">Trang chủ</a></li>
                    <!-- <li class="breadcrumb-item active">{{ dcnb }}</li> -->
                    <li class="breadcrumb-item active">{{ title_subcategory }}  {{ dcnb }} {{ tbgd }} </li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-view-top">
                                <form method = "get">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div>
                                                <h4>{{ title_subcategory }} {{ title_search }}</h4>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="product-short">
                                                <div class="form-group">
                                                    <input type="text" required=""   name="from_price" class="form-control"   placeholder="Từ giá" style="border: 1px solid #353535; color: #353535;">
                                                    <script>
                                                        const myInput = new CurrencyInput('.form-control', {
                                                                        locale: 'vi',
                                                                        currency: 'VND'
                                                                  });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <div class="product-price-range">
                                                <div class="form-group">
                                                    <input type="text" required=""  name="to_price" class="form-control2" value="{{den_gia}}" placeholder="Đến giá" style="border: 1px solid #353535; color: #353535;">
                                                    <script>
                                                        const myInput2 = new CurrencyInput('.form-control2', {
                                                                        locale: 'vi',
                                                                        currency: 'VND'
                                                                  });
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="submit" class="btn">Lọc</button>
                                            <input type="hidden" name="product_name" value="{{tu_khoa}}">
                                        </div>                                
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- <h4><b>{{ title_search }}</b></h4>
                        <br><br><br><br><br><br> -->
                        {% for product in products %}
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="product-title"style="height: 110px;">
                                    <a href="{% url 'store:product_detail' product.id %}">{{ product }}</a>
                                </div>
                                <div class="product-image">
                                    <a href="{% url 'store:product_detail' product.id %}">
                                        <img src="{{ product.image.url }}" alt="{{ product }}">
                                    </a>
                                    <!-- <div class="product-action">
                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div> -->
                                </div>
                                <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                    {% csrf_token %}
                                    <div class="product-price">
                                        <h3 style="font-size: 20px !important;">{{ product.price|floatformat:0|intcomma }}<span>đ</span></h3>
                                        <button type="submit" class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                        <input type = "hidden" value = "1" name = "quantity"/> 
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Pagination Start -->
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <!--Previous-->
                                {% if products.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{products.previous_page_number}}{% if request.GET.product_name %}&product_name={{tu_khoa|urlencode}}{%endif%}{% if request.GET.from_price %}&from_price={{request.GET.from_price}}{% endif %}{% if request.GET.to_price %}&to_price={{request.GET.to_price}}{% endif %}" tabindex="-1">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}

                                {% if products.number > 5 %}
                                    <li class="page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                {% endif %}
                                
                                <!--Page range-->
                                {% for i in products.paginator.page_range %}
                                    {% if i > products.number|add:'-5' %} <!--Nếu giá trị i lớn hơn trang hiện hành -->
                                        {% if i < products.number|add:'5' %}
                                            {% if products.number == i %}
                                                <li class="page-item active"><a class="page-link" href="?page={{ i }}{% if request.GET.product_name %}&product_name={{tu_khoa|urlencode}}{%endif%}{% if request.GET.from_price %}&from_price={{request.GET.from_price}}{% endif %}{% if request.GET.to_price %}&to_price={{request.GET.to_price}}{% endif %}">{{ i }}</a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.product_name %}&product_name={{tu_khoa|urlencode}}{%endif%}{% if request.GET.from_price %}&from_price={{request.GET.from_price}}{% endif %}{% if request.GET.to_price %}&to_price={{request.GET.to_price}}{% endif %}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if products.number < products.paginator.num_pages|add:'-5' %}
                                    <li class="page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                {% endif %}
                                
                                <!--Next-->
                                {% if products.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{products.next_page_number}}{% if request.GET.product_name %}&product_name={{tu_khoa|urlencode}}{%endif%}{% if request.GET.from_price %}&from_price={{request.GET.from_price}}{% endif %}{% if request.GET.to_price %}&to_price={{request.GET.to_price}}{% endif %}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination End -->
                </div>                      
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-3 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Danh mục sản phẩm</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    {% for subcategory in subcategories %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'store:subcategory' subcategory.id %}">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>{{subcategory}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                        
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                {% for product in newest_10 %}
                                    <div class="product-item">
                                        <div class="product-title" style="height: 110px;">
                                            <a href="#">{{product}}</a>
                                        </div>
                                        <div class="product-image">
                                            <a href="product-detail.html">
                                                <img src="{{product.image.url}}" alt="Product Image">
                                            </a>
                                            <div class="product-action">
                                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                                <a href="#"><i class="fa fa-heart"></i></a>
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                        <form method="post" action="{% url 'cart:buy_now' product.pk %}">
                                            {% csrf_token %}
                                            <div class="product-price">
                                                <h3 style="font-size: 20px !important;">{{product.price|floatformat:0|intcomma}}<span>đ</span></h3>
                                                <button type="submit" class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                                <input type = "hidden" value = "1" name = "quantity"/> 
                                            </div>
                                        </form>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product List End -->  
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static 'store/brands/lg.png' %}" alt="lg"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/panasonic.png' %}" alt="panasonic"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/philips.png' %}" alt="philips"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/samsung.png' %}" alt="samsung"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/sharp.png' %}" alt="sharp"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/sunhouse.png' %}" alt="sunhouse"></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->
        
{% endblock %}
