{% extends 'store/_Master.html' %}
{% load static %}
{% block main_content %}
{% load humanize %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'store:subcategory' id_subcategory%}">{{subcategory_name}}</a></li>
                    {% for sub in subcategories %}                   
                        {% if product_detail.subcategory_id == sub.id.0  %}
                            <li class="breadcrumb-item"><a href="#">{{ sub.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="breadcrumb-item active">{{ product_detail.name }}</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <form method = 'post' action = "{% url 'cart:buy_now' product_detail.pk %}">
                            {% csrf_token %}
                            <div class="product-detail-top">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <div class="product-slider-single normal-slider">
                                            <img src="{{ product_detail.image.url }}" alt="{{product_detail}}">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="product-content">
                                            <div class="title"><h2>{{ product_detail.name }}</h2></div>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="price">
                                                <h4>Đơn giá: </h4>
                                                <p>{{product_detail.price|floatformat:0|intcomma}}đ</p>
                                            </div>
                                            
                                            <div class="quantity">
                                                <h4>Số lượng:</h4>
                                                <div class="qty">
                                                    <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                    <input type="text" value="1" name = "quantity">
                                                    <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                            
                                            <div class="action">
                                                <!-- <button class="btn" href="#"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>   -->
                                                <button type = "submit" class="btn">
                                                    <i class="fa fa-shopping-cart"></i>Mua ngay
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#description">Mô tả chi tiết</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="description" class="container tab-pane active">
                                        <h4>Mô tả sản phẩm</h4>
                                        <p>
                                            {{ product_detail.content|safe }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="product">
                            <div class="section-header">
                                <h1>Sản phẩm liên quan</h1>
                            </div>

                            <div class="row align-items-center product-slider product-slider-3">
                                {% for relate in relate_product %}
                                <div class="col-lg-3">
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a href="{% url 'store:product_detail' relate.id %}">{{ relate.name }}</a>
                                        </div>
                                        <div class="product-image">
                                            <a href="{% url 'store:product_detail' relate.id %}">
                                                <img src="{{ relate.image.url }}" alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="product-price">
                                            <h3>{{relate.price|floatformat:0|intcomma}}<span>đ</span></h3>
                                            <button class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-3 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Danh mục sản phẩm</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    {% for subcategory in subcategories %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'store:subcategory' subcategory.id %}">
                                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>{{subcategory}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                        
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                {% for relate in relate_product %}
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a href="{% url 'store:product_detail' relate.id %}">{{ relate.name }}</a>
                                        </div>
                                        <div class="product-image">
                                            <a href="{% url 'store:product_detail' relate.id %}">
                                                <img src="{{ relate.image.url }}" alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="product-price">
                                            <h3 style="font-size: 20px !important;">{{relate.price|floatformat:0|intcomma}}<span>đ</span></h3>
                                            <button class="btn" href=""><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product Detail End -->
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static 'store/brands/lg.png' %}" alt="lg"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/panasonic.png' %}" alt="panasonic"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/philips.png' %}" alt="philips"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/samsung.png' %}" alt="samsung"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/sharp.png' %}" alt="sharp"></div>
                    <div class="brand-item"><img src="{% static 'store/brands/sunhouse.png' %}" alt="sunhouse"></div>
                </div>
            </div>
        </div>
    <!-- Brand End -->      
        
{% endblock %}
